body {
    background-image: url("abstract-optical-laser-horizontal-background.jpg");
    padding: 20px;
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: linear-gradient(to bottom, lime, black);
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}

header img {
    height: 50px;
    margin: 10px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.li-1 {
    margin-right: 50px;
}

.li-2 {
    margin-left: 50px;
}

header li a {
    display: block;
    padding: -50px;
    padding: 11px;
    text-decoration: none;
    color: lime;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}

header li a:hover {
    background-color: lime;
    color: black;
    transform: scale(1.2);
}

header ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
}

main {
    padding-top: 0px;
    margin-top: -100px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.image-container img {
    width: 70%;
    height: 500px;
    border-radius: 10px;
    margin-top: 200px;
    padding: 30px;
    object-fit: contain;
}


.plans-title {
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    color: #d3d3d3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    font-family: sans-serif;
}

.plans-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.plan-box {
    width: 40%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.8);
}

.plan-box p {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 400;
    color: lime;
    margin-bottom: 10px;
    text-align: center;
}

.plan-box .plan-price {
    font-size: 1.5em;
}

.plan-box h1 {
    text-align: center;
    color: lime;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.plan-box .matricule-se {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    background-color: black;
    color: lime;
    border: 2px solid lime;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.plan-box .matricule-se:hover {
    transform: scale(1.1);
    background-color: lime;
    color: black;
}

footer {
    color: lime;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-weight: bold;
}

footer a:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .image-container img {
        width: 90%;
        height: auto;
    }

    .plans-container {
        flex-direction: column;
        align-items: center;
    }

    .plan-box {
        width: 80%;
        margin-bottom: 20px;
    }
}